
/**
* -------------
* Global Styles
* -------------
*/

body {

  font-family: 'Poppins', sans-serif;
  /* Default font family and font color */
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/
.entete{
  background-color: #fcce00;
  color : white;
  text-align : center;
  font-weight: 900;
  padding-top: 0 px;
  padding-bottom: 80 px;
  margin-bottom: 64px;
}

.entete_titre {
  margin : 0;
  font-size: 88px;
  text-transform: uppercase;
}

.entete_sous_titre {
  font-size : 38px;
}
.titre_rectangle1 {
text-align : center;
font-size: 40px;
}

.colonnes {
  background-color : grey;
  color : black;
  padding : 10 px;
  display : flex;
  justify-content : space-around;
  align-items: center;
}

.texte-colonne
{
  width: 640px;
  height: 345px;
  font-family: Poppins;
  font-size: 6px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;

}
.image_ordi1
{
width: 487px;
height: 471px;
object-fit: contain;
}

.block-image {
  position : relative;
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  padding: 20 px;
  margin: 10 px;

}

