
/**
* -------------
* Global Styles
* -------------
*/

body {

  font-family: 'Poppins', sans-serif;
  /* Default font family and font color */
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/
.entete{
  background-color: #fcce00;
  color : white;
  text-align : center;
  font-weight: 900;
  padding-top: 0 px;
  padding-bottom: 80 px;
  margin-bottom: 64px;
}

.entete_titre {
  margin : 0;
  font-size: 88px;
  text-transform: uppercase;
}

.entete_sous_titre {
  font-size : 38px;
}
.titre_rectangle1 {
text-align : center;
font-size: 40px;
}

.colonnes {
  color : black;
  padding : 10px;
  display : flex;
}

.texte-colonne,
.block-texte,
.block-image
{
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;

}
 @media scren and (min-width: 740px) {
  .product {
   display: flex;
 }
}

.texte-titre {
  font-size: 24px;

}


.texte-colonne
{
  font-family: Poppins;
  font-size: 16px;
  text-align: justify;
  margin-right: 30px;
  margin-left: 30px;


}
.image_ordi1
{
mix-blend-mode: darken;


}
.block-image
{
  background: linear-gradient(#FCD72F 50%, #FDE062 50%, 
  #FDE062 75%, #FDEA95 75%, #FDEA95 88%, #FEF5CB 88% );

margin-bottom: 64px;
}

.block-orange 
{
  background : linear-gradient(#FF8630 50%, #FFA463 50%, 
  #FFA463 75%, #FFC296 75%, #FFC296 88%, #FFE1CC 88% );
}

.bouton {
    width: 185px;
    height: 48px;
    border-radius: 15px;
    border: solid 4px var(--sunflower-yellow);
  }

  .block_2
  {
    position : relative;
    flex-basis: 0;
    flex-grow : 1;
    text-align: center;
    font : Poppins;
  }
  .colonnes_2 
  {
    color : black;
    padding : 10 px;
    display : flex;
    justify-content : space-around;
    align-items: center; 
  }
.block_image_2
{
  position : relative;
    flex-basis: 0;
    flex-grow : 1;
    text-align: center;
    font : Poppins;
    background : linear-gradient(#FF8630 50%, #FFA463 50%, 
  #FFA463 75%, #FFC296 75%, #FFC296 88%, #FFE1CC 88% )

}
  .image_ordi2
  {
width: 378px;
height: 486px;
 object-fit: contain;
 mix-blend-mode: darken;
  }